In [415]:
import pandas as pd

In [416]:
data = pd.read_csv("question_answer.csv")
data.head()

,Unnamed: 0,questions,answer_texts
0,0,['When did The Carpenters sign with A&M Record...,"['1969', '(They Long to Be) Close to You', '19..."
1,1,['Does Bradley Cooper star in American Hustle?...,"['Yes', '5 January 1975', 'Danny Elfman', 'Yes..."
2,2,['What year did the Carpenters sign with A&M R...,"['1969', '(They Long to Be) Close to You', '19..."
3,3,"['Which author wrote the novel 1Q84?', ""author...","['Haruki Murakami', 'Japan', 'Kafka on the sho..."
4,4,['Which famous author wrote the fantasy book s...,"['J. K. Rowling', ""Harry Potter and the Philos..."

In [417]:
data[['questions']]

                                              questions
0     ['When did The Carpenters sign with A&M Record...
1     ['Does Bradley Cooper star in American Hustle?...
2     ['What year did the Carpenters sign with A&M R...
3     ['Which author wrote the novel 1Q84?', "author...
4     ['Which famous author wrote the fantasy book s...
...                                                 ...
6715  ['What other name is Harry Potter and the Phil...
6716  ['What year was the movie Die Hard released?',...
6717  ['What league was David Beckham in first?', 'w...
6718  ['Who performs 3005?', 'Album?', 'What about S...
6719  ['Who is the voice of Buzz Lightyear in Toy St...

[6720 rows x 1 columns]

In [418]:
questions = data['questions'].values.tolist()
answers = data['answer_texts'].values.tolist()

In [422]:
alldata = []
def removesings(list_data):
    for elemnt in list_data:
        new_string = elemnt.replace('[', "")
        new_string = new_string.replace(']', "")
        new_string = new_string.replace('\'', "")
        new_string = new_string.split(",")
        alldata.append(new_string)
    return alldata

In [423]:
alldata = []
questions = removesings(questions)
print(questions[10:13])

[['"Whats the place of birth of Manuel Neuer?"', ' What state of Germany does his birth place belong to?', ' "Whats the capital?"', ' Does it have an airport?', ' "Whats the name of the main soccer club there?"'], ['In what year was the film Black Panther released?', ' Black Panther played by who?', ' Does the larger Marvel universe include Black Panther?', ' Directed by who?', ' Has Black Panther been in other Marvel films?'], ['Did The Black Eyed Peas form in 1998?', ' Where did they first get together?', ' What music do they play?', ' Do they have an official website?', ' Did Fergie leave the band in 2014 ?']]

In [424]:
alldata = []
answers = removesings(answers)

In [425]:
print(answers[10:13])

[['Gelsenkirchen', ' North Rhine-Westphalia', ' Düsseldorf', ' Yes', ' Fortuna Düsseldorf'], ['2018', ' Chadwick Boseman', ' Yes', ' Ryan Coogler', ' Yes'], ['No', ' Los Angeles', ' hip hop music;techno;pop music', ' http://www.blackeyedpeas.com', ' No']]

In [426]:
# function
flat_list = []
def flatten_list(data):
    # iterating over the data
    for element in data:
        # checking for list
        if type(element) == list:
            # calling the same function with current element as new argument
            flatten_list(element)
        else:
            flat_list.append(element)
    return flat_list

In [427]:
flat_list = []

questions = flatten_list(questions)
print(questions[1:10])

[' What song was their first hit?', ' When did Karen die?', ' Karen had what eating problem?', ' and how did she die?', 'Does Bradley Cooper star in American Hustle?', ' When was he born?', ' And who composed?', ' Did the movie win a Golden Globe award?', ' How long is the movie?']

In [428]:
flat_list = []
answers = flatten_list(answers)
print(answers[1:10])

[' (They Long to Be) Close to You', ' 1983', ' anorexia nervosa', ' heart failure', 'Yes', ' 5 January 1975', ' Danny Elfman', ' Yes', ' 138 minute']

In [429]:
answers[1]

' (They Long to Be) Close to You'